:root {
    --primary-color: #af2d01;
    --secondary-color: #ffc900;
    --secondary-color-hover: #e9a505;
    --text-color: #333;
    --background-color: #f9f9f9;
    --white-color: #ffffff;
    --grey-color: #878787;
    --dark-color: #000000;
    --accent-color: #0076aa;
    --accent-color-hover: #005f8a;
    --accent-color-visited: #005f8a;

    --animation-in-duration: 0.5s;
    --animation-out-duration: 0.8s;
}

/* Reset di base */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
    font-family: 'Poppins', Arial, sans-serif;
}

/* ====== Stile generale ======= */
body {
    line-height: 1.6;
    background-color: var(--background-color);
    color: var(--text-color);
}

/* ======= Header Section ======*/
.header {
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 10px 20px;
}


/* Navbar sempre visibile */
.navbar {
    position: fixed; /* Fissa la navbar in alto */
    top: 0; /* Posiziona la navbar in cima alla pagina */
    left: 0;
    width: 100%; /* Assicura che la navbar occupi tutta la larghezza */
    z-index: 1000; /* Porta la navbar in primo piano */
    display: flex; /* Allinea gli elementi in orizzontale */
    justify-content: space-between; /* Spazia il logo e i pulsanti */
    align-items: center; /* Centra verticalmente gli elementi */
    padding: 30px 20px;
    background-color: var(--primary-color); /* Colore di sfondo */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Aggiunge un'ombra */

}

.navbar .logo {
    display: flex;
    align-items: center; /* Centra verticalmente il logo e il testo */
}

.navbar .logo img {
    height: 40px; /* Altezza del logo */
    margin-right: 10px; /* Spazio tra il logo e il testo */
}

.navbar nav a {
    margin: 0 10px; /* Spaziatura tra i pulsanti */
    color: var(--white-color); /* Colore del testo */
    font-weight: bold; /* Testo in grassetto */
    padding: 10px 15px; /* Spaziatura interna dei pulsanti */
    border-radius: 20px; /* Angoli arrotondati */
    transition: background-color 0.3s, color 0.3s; /* Transizioni fluide */
}

.navbar nav a:hover {
    color: var(--text-color); /* Colore del testo al passaggio del mouse */
    background-color: var(--secondary-color); /* Sfondo al passaggio del mouse */
}



.navbar nav a:last-child {
    margin-right: 60px; /* Aggiunge spazio a destra dell'ultimo link */
}

/* ====== Contenuto principale ====== */

.main-content {
    margin-top: 120px; /* Regola il valore in base all'altezza della navbar */
}

/* Classe per nascondere elementi */
.hidden {
    display: none;
}

section {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background: var(--white-color);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Titoli delle sezioni */
section h2 {
    margin-bottom: 10px;
    color: var(--primary-color);
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: var(--text-color);
    color: var(--white-color);
    margin-top: 20px;
}

/* Stile base per i link */
a {
    color: var(--accent-color);
    padding: 3px 5px;
    border-radius: 15px;
    transition: all var(--animation-in-duration) ease;
    text-decoration: none; /* Assicura che non ci siano sottolineature */
}

/* Hover */
a:hover {
    color: var(--accent-color-hover);
    background-color: var(--secondary-color);
    transition: all var(--animation-out-duration) ease;
}

/* Stile per i link visitati */
.visited {
    color: var(--accent-color-visited);
}

/* Hover sui link visitati */
a.visited:hover {
    background-color: inherit; /* Rimuove lo sfondo */
    color: inherit; /* Rimuove il colore */
    cursor: default; /* Cambia il cursore per indicare che non è interattivo */
}


/* ======= Stile carosello ======= */

.carousel-wrapper {
    position: relative;
    width: 100%;
    max-width: 800px;
    overflow: hidden; /* nasconde gli elementi in eccesso */
}

.carousel-item {
    position: absolute;
    top: 0;
    left: 0;
    /*Elemento posizionato in alto a sinistra */
    width: 100%;
    height: 100%;
    opacity: 0; /* Tutte le slide sono nascoste per default */
    transition: opacity 0.5s;
}

.carousel-image {
    overflow: hidden;
    width: 100%;
    height: auto;
}

.carousel-item.active {
    opacity: 1; /* La slide attiva è visibile */
    position: relative; /* Sposta l'elemento attivo nel flusso normale per occupare spazio */
    cursor: pointer; /* Cambia il cursore per indicare che è cliccabile */
}

.carousel-item.hidden {
    opacity: 0; /* Elemento nascosto */
    pointer-events: none; /* Disabilita interazioni con il mouse per elementi nascosti */
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Adatta l'immagine al contenitore */
    border-radius: 15px;
}

.carousel-item .caption {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    text-align: center;
}

.carousel-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--secondary-color);
    color: var(--white-color);
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    font-size: 30px;
}

.carousel-button:hover {
    background-color: var(--secondary-color-hover);
}

.carousel-prev {
    left: 10px;
}

.carousel-next {
    right: 10px;
}

.carousel-pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.dot {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: var(--grey-color);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.active-dot {
    background-color: var(--dark-color);
}




/* ======== Stile contatti ======== */

#contacts {
    background-color: var(--background-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/* ========= Stile per il footer ======== */
#footer {
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 10px;
    text-align: center;
    margin-top: 20px;
}